.home{
    padding-bottom: 0;
}

.centered{
    text-align: center
}

.container.compact{
    max-width: 28em;
}

.contact{
    background-color: var(--muted-border-color);
    margin-top: var(--block-spacing-vertical);
    padding: calc(var(--block-spacing-vertical)) 0;
}

@media (min-width: 992px){
    .trainer-directory-callout{
        margin-top: 0;
    }
}

.btcf-resume{
    --ABEL: 'Abel', sans-serif;
    --BEBAS: 'Bebas Neue', serif;
    --BTCF-TEAL: #33F0FF;
    --background-color: #353638;
    background-color: var(--background-color);
    --color: #fff;
    --font-family: var(--ABEL);
}

.bridge-view-resume{
    --BARLOW: 'Barlow', sans-serif;
    --QUESTRIAL: 'Questrial', sans-serif;;
    --BRIDGE-VIEW-TEAL: rgb(106, 203, 227);
    --background-color: #000;
    background-color: var(--background-color);
    --color: #fff;
    --font-family: var(--BARLOW);
}
.golden-warrior-resume{
    --MONTSERRAT: 'Montserrat', sans-serif;
    --font-family: var(--MONTSERRAT);
}

.btcf-resume a{
    --color: var(--BTCF-TEAL);
}

.bridge-view-resume a{
    --color: var(--BRIDGE-VIEW-TEAL);
}

.btcf-resume h1,
.btcf-resume p.h1,
.btcf-resume h2,
.btcf-resume h3,
.btcf-resume h4,
.btcf-resume h5,
.btcf-resume h6{
    --color: #33F0FF;
    --font-family: var(--BEBAS);
    font-family: var(--font-family);
}

.bridge-view-resume h1,
.bridge-view-resume p.h1,
.bridge-view-resume h2,
.bridge-view-resume h3,
.bridge-view-resume h4,
.bridge-view-resume h5,
.bridge-view-resume h6{
    --color: var(--BRIDGE-VIEW-TEAL);
    --font-family: var(--QUESTRIAL);
    font-family: var(--font-family);
    letter-spacing: -1.6px;
    text-transform: uppercase;
}

.btcf-resume .name,
.bridge-view-resume .name,
.golden-warrior-resume .name {
    --typography-spacing-vertical: 0.8rem;
}

.btcf-resume .location{
    --color: #fff;
    color: var(--color);
    --font-size: 14px;
    font-size: var(--font-size);
    --font-family: var(--ABEL);
    font-family: var(--font-family);
}

.bridge-view-resume .location{
    --color: #fff;
    color: var(--color);
    --font-size: 14px;
    font-size: var(--font-size);
    --font-family: var(--BARLOW);
    font-family: var(--font-family);
}
.golden-warrior-resume .location{
    --font-size: 14px;
    font-size: var(--font-size);
}

.btcf-resume .salutation,
.bridge-view-resume .salutation,
.golden-warrior-resume .salutation {
    --font-size: 36px;
}

.btcf-resume h2,
.bridge-view-resume h2,
.golden-warrior-resume h2 {
    --typography-spacing-vertical: 0.8rem;
}

.btcf-resume .chunk,
.bridge-view-resume .chunk,
.golden-warrior-resume .chunk {
    margin-bottom: var(--typography-spacing-vertical);
}

.btcf-resume .chunk p,
.bridge-view-resume .chunk p,
.golden-warrior-resume .chunk p {
    margin-bottom: 0;
}

.btcf-resume .experience,
.bridge-view-resume .experience,
.golden-warrior-resume .experience {
    --font-size: 16px;
}

.btcf-resume .experience h3,
.bridge-view-resume .experience h3 {
    --color: #93f7ff;
    --font-size: 20px;
    --typography-spacing-vertical: 0.6rem;
}

.golden-warrior-resume .experience h3 {
    --font-size: 20px;
    --typography-spacing-vertical: 0.6rem;
}