<!DOCTYPE html>
<html>
<head>
	<title>Cover Letter to Butchertown CrossFit from Alex J. Gustafson, CrossFit Level 1 Trainer</title>
	<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&display=swap" rel="stylesheet"></head>
<body>
<main class="btcf-resume">
	<div class="container">
		<p class="h1 salutation">To the coaching staff at Butchertown CrossFit,</p>
		<p>I'm seeking opportunities to intern as a CrossFit coach at a local affiliate. Having trained at Butchertown CrossFit since July 2021, naturally my hope is to learn from the experienced coaches here if at all possible.</p>
		<p>In September 2021, I attended the CrossFit Level 1 seminar hoping to learn more details about the methodology and become a better version of myself. But once the weekend was complete, I knew there would be more to my CrossFit experience than just participating. CrossFit is for everyone, and it will take all kinds of coaches to reach everyone that needs it. Even while I improve my own fitness, I know I can help others on their journey.</p>
		<p>For the last several years, I've worked in technology as a web developer. The majority of that, I've been remote or freelance working with complete autonomy. Being self-employed has made me resilient to accepting responsibility and brutally honest feedback with clients who only care about results. I'm green in fitness, but I'm experienced in getting things done and doing things better the next time. With that spirit of personal responsibility, I know I can be asset to the gym during an internship even while still learning as a coach.</p>
		<p>In an internship program, I would hope to shadow coaches during CrossFit classes, and have regular opportunities to ask those coaches questions about the classes and about coaching in general. After some time I'd hope to coach foundations-level athletes in some capacity under the direct supervision of a coach and then receive feedback on my performance. In exchange for these learning opportunities, I'm also happy to offer work to the gym in more general capacity for several hours a week, in whatever ways serve the staff the most.</p>
		<p>One day, I plan to own my own affiliate. Today, I will train to progress in my own fitness journey and seek out any opportunities to improve as a coach along the way. Butchertown has been a great resource for my training, and I hope to earn the right for it to be part of my coaching education as well.</p>
		<p>Thanks for your time and consideration.</p>
		<p>Sincerely,</p>
		<div class="chunk">
			<p class="h1">Alex J. Gustafson, CF-L1</p>
			<p>(502) 472-3042</p>
			<p>526 Rawlings St, Louisville, KY 40217</p>
		</div>
		<p><a href="/btcf-resume/">See Alex's Résumé</a></p>
	</div>
</main>
</body>
</html>
