<!DOCTYPE html>
<html>
<head>
	<title>Alex J. Gustafson, CrossFit Level 1 Trainer</title>
	<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<script>
fetch('https://coachinprogress.com/wp-json/wp/v2/posts')
  .then(response => response.json())
  .then(function(data){
	const wrapper = document.querySelector('#coachinprogress-latest-posts')
	const postList = document.createElement('ul')
	data.slice(0,3)
		.map(function(post){
			const item = document.createElement('li')
			const link = document.createElement('a')
			link.innerText = post.title.rendered
			link.href = post.link
			item.appendChild(link)
			return item
		})
		.forEach(item => postList.appendChild(item))
	wrapper.appendChild(postList)
	wrapper.style.display = 'block'
  });
</script>
<main>
	<div class="container">	
		<h1>Alex J. Gustafson Fitness</h1>
		<p>Alex is a CrossFit Level 1 Trainer in Louisville, KY. He is a web developer, currently building software prototypes for athletes and gyms.</p>

		<h2>CrossFit Training in Louisville, KY</h2>
		<div class="grid">
			<div>
				<p>Alex trains at his home in the Meriwether neighborhood and at <a href="https://www.crossfitgoldenwarrior.com">CrossFit Golden Warrior</a>, a CrossFit affiliate gym in Shepherdsville, KY.</p>
				<p>Alex does not coach at any CrossFit affiliate nor does he operate his own CrossFit affiliate and thus does not sell any CrossFit services.</p>
				<p>Free of charge, he is happy to help anyone on their fitness journey, join them for a workout, or help them get started at a local affiliate.</p>
			</div>
			<article class="trainer-directory-callout">
				<h3>Use the CrossFit Trainer Directory</h3>
				<p>Find Alex or another CrossFit trainer in Louisville, KY on the <a href="https://trainerdirectory.crossfit.com/results?lastname=gustafson&city=louisville&state=ky">CrossFit.com Trainer Directory.</a></p>
			</article>
		</div>
	</div>

	<div class="contact">		
		<div class="container compact">			
			<h2 class="centered">Get in Touch</h2>
			<form name="fitness-contact" method="POST" data-netlify="true">
				<p>
					<label>Your Name: <input type="text" name="name" /></label>   
				</p>
				<p>
					<label>Your Email: <input type="email" name="email" /></label>
				</p>
				<p>
					<label>Message: <textarea name="message"></textarea></label>
				</p>
				<p>
					<button type="submit">Send</button>
				</p>
			</form>
		</div>
	</div>

	<div class="container">
		<h2>Writings</h2>
		<p>Alex has begun a blog about CrossFit coaching at <a href="https://coachinprogress.com">CoachInProgress.com.</a></p>
		<div id="coachinprogress-latest-posts" style="display:none;">			
			<p>Latest posts:</p>
			<ul>
			</ul>
		</div>
		<h2>Social Media</h2>
		<p>Instagram: <a href="https://www.instagram.com/alexjgustafson/">@alexjgustafson</a></p>
	</div>
</main>
</body>
</html>
