<!DOCTYPE html>
<html>
<head>
	<title>Alex J. Gustafson, CrossFit Level 1 Trainer</title>
</head>
<body>
<main>
	<h1>Alex J. Gustafson Fitness</h1>
	<p>Alex is a CrossFit Level 1 Trainer in Louisville, KY. He is a web developer, currently building software prototypes for athletes and gyms.</p>

	<h2>Looking for CrossFit in Louisville, KY?</h2>
	<p>Find Alex or another CrossFit trainer in Louisville, KY on the <a href="https://trainerdirectory.crossfit.com/results?lastname=gustafson&city=louisville&state=ky">Crossfit.com Trainer Directory.</a></p>

	<h2>Want to train with Alex?</h2>
	<p>Alex trains at his home in the Meriwether neighborhood and at <a href="https://butchertowncrossfit.com">Butchertown CrossFit</a>, a CrossFit affiliate gym.</p>
	<p>Alex does not coach at any CrossFit affiliate nor does he operate his own CrossFit affiliate and thus does not sell any CrossFit services.</p>
	<p>Free of charge, he is happy to help anyone on their fitness journey, join them for a workout, or help them get started at a local affiliate.</p>
	<p>Get in touch:</p>
	<ul>
		<li>Instagram: <a href="https://www.instagram.com/alexjgustafson/">@alexjgustafson</a></li>
		<li>Contact Form: <a href="https://www.alexjgustafson.tech/contact">https://www.alexjgustafson.tech/contact</a></li>
	</ul>

	<h2>Writings on Fitness</h2>
	<ul>
		{{#each collections.posts}}
			<li><a href="{{this.url}}">{{this.data.title}}</a></li>
		{{/each}}
	</ul>
</main>
</body>
</html>
