<!DOCTYPE html>
<html>
<head>
	<title>Alex J. Gustafson, CrossFit Level 1 Trainer</title>
	<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body>
<main>
	<div class="container">	
		<h1>Alex J. Gustafson Fitness</h1>
		<p>Alex is a CrossFit Level 1 Trainer in Louisville, KY. He is a web developer, currently building software prototypes for athletes and gyms.</p>
		<p>Alex J. Gustafson Fitness is a project of Alex J. Gustafson Tech, LLC.</p>

		<h2>CrossFit Training in Louisville, KY</h2>
		<p>Find Alex or another CrossFit trainer in Louisville, KY on the <a href="https://trainerdirectory.crossfit.com/results?lastname=gustafson&city=louisville&state=ky">CrossFit.com Trainer Directory.</a></p>

		<h2>Train with Alex</h2>
		<p>Alex trains at his home in the Meriwether neighborhood and at <a href="https://butchertowncrossfit.com">Butchertown CrossFit</a>, a CrossFit affiliate gym.</p>
		<p>Alex does not coach at any CrossFit affiliate nor does he operate his own CrossFit affiliate and thus does not sell any CrossFit services.</p>
		<p>Free of charge, he is happy to help anyone on their fitness journey, join them for a workout, or help them get started at a local affiliate.</p>
	</div>

	<article>
		<div class="container">			
			<h2>Get in Touch</h2>
			<form name="fitness-contact" method="POST" data-netlify="true">
				<p>
					<label>Your Name: <input type="text" name="name" /></label>   
				</p>
				<p>
					<label>Your Email: <input type="email" name="email" /></label>
				</p>
				<p>
					<label>Message: <textarea name="message"></textarea></label>
				</p>
				<p>
					<button type="submit">Send</button>
				</p>
			</form>
		</div>
	</article>

	<div class="container">
		<h2>Writings on Fitness</h2>
		<ul>
			{{#each collections.posts}}
				<li><a href="{{this.url}}">{{this.data.title}}</a></li>
			{{/each}}
		</ul>

		<h2>Social Media</h2>
		<p>Instagram: <a href="https://www.instagram.com/alexjgustafson/">@alexjgustafson</a></p>
	</div>
</main>
</body>
</html>
