<!DOCTYPE html>
<html>
<head>
	<title>Resume for Alex J. Gustafson, CrossFit Level 1 Trainer</title>
	<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Barlow&family=Questrial&display=swap" rel="stylesheet">
<body>
<main class="bridge-view-resume">
	<div class="container">
	    <h1 class="name">Alex J. Gustafson</h1>

	    <h2>Objective</h2>
	    <p>To accumulate time coaching and shadowing coaches at a CrossFit affiliate.</p>

			<div class="grid">
					<div>
							<h2>Contact</h2>
							<div class="chunk">
									<p><a href="tel:+15024723042">(502) 472-3042</a></p>
									<p><a href="mailto:alexjgustafson@gmail.com">alexjgustafson@gmail.com</a></p>
									<p><a href="https://www.instagram.com/alexjgustafson/">@alexjgustafson on Instagram</a></p>
									<address>
											526 Rawlings St, Louisville, KY 40217
									</address>
							</div>
							<h2>Qualifications</h2>
							<ul>
									<li>CrossFit Level 1 Trainer (CF-L1)</li>
									<li>CrossFit Judges Certificate</li>
									<li>2.5 years of CrossFit training</li>
							</ul>

							<h2>Education</h2>
							<div class="chunk">
									<p>University of Louisville</p>
									<p>BSBA in Marketing</p>
									<p>2006 - 2011</p>
							</div>
					</div>
					<section class="experience">
							<h2>Experience</h2>

							<h3>Alex J. Gustafson Tech, LLC <span class="location">(Louisville, KY)</span></h3>
							<div class="chunk">
									<p>Self-employed Web Developer</p>
									<p>June 2018 - present</p>
							</div>


							<h3>OOHology <span class="location">(Louisville, KY)</span></h3>
							<div class="chunk">
									<p>Senior Web Developer</p>
									<p>Sep 2019 - May 2020</p>
							</div>

							<h3>Makespace! <span class="location">(Louisville, KY)</span></h3>
							<div class="chunk">
									<p>Senior Web Developer</p>
									<p>Mar 2018 - Nov 2018</p>
							</div>
							<div class="chunk">
									<p>Web Developer</p>
									<p>Oct 2017 - Mar 2018</p>
							</div>

							<h3>Automattic <span class="location">(Remote)</span></h3>
							<div class="chunk">
									<p>Happiness Engineer</p>
									<p>August 2014 - Oct 2017</p>
							</div>
					</section>
			</div>
			<p><a href="/cover-letter-bridge-view/">See Alex's Cover Letter to Bridge View CrossFit</a></p>
			<div class="colophon">
				Updated Mar 23, 2022
			</div>
	</div>
</main>
</body>
</html>
