<!DOCTYPE html>
<html>
<head>
	<title>{{title}} | Alex J. Gustafson, CrossFit Level 1 Trainer</title>
</head>
<body>
<main>
    <h1>{{title}}</h1>
    {{{content}}}

    <hr>

    <h2>Alex J. Gustafson, CrossFit Level 1 Trainer</h2>
    <p>Louisville, KY</p>
    <time>{{date}}</time>

    <p><a href="/">Back to homepage</a></p>
</main>
</body>
</html>